QAbstractButton { background-color: blue; }
QToolButton { background-color: transparent; }
QPushButton#btn1 { background-color: red; }
QPushButton#btn2 {image:url(./resource/undo.svg); min-height:60px; min-width:60px; padding:0px; margin:0px; }
QToolButton#btn3 {image:url(./resource/posX.svg); min-height:60px; min-width:60px; padding:0px; margin:0px; }
QLineEdit { background-color: green; }
